/*========================*/
/*===     Globals      ===*/
/*========================*/

/* --- Variables --------------------------------------------------------------- */
$base-font: 16;
$breakpoint-to-ems: true;

$white: #fff;
$brown2: #b7a489;
$third: #ede4d8;
$heading: #5b5757;
$light: #666666;
$browntext: #44413b;
$yellow: #f9a92a;
$brown: #52463f;

$break1: 1024px;
$break2: 950px;
$break3: 700px;
$phone: 480px;
$hidpi: min-resolution 1.5dppx;

/* --- Mixins ----------------------------------------------------------------- */
@mixin font($pixels, $weight : normal) {
	font-size: $pixels + px;
	font-size: ( $pixels / $base_font_size ) + rem;
	font-weight: $weight;
}