/*========================*/
/*===     Header       ===*/
/*========================*/

#logins {
  font-size: .875em;
  color: $white;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.13), inset 0 0 1px white;
  text-align: right;
}

.top {
  width: 100%;
  height: 30px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75), inset 0 0 1px white;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75), inset 0 0 1px white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75), inset 0 0 1px white;
  background-color: #52453d;
  text-align: right;
  padding-top: 5px;
}

#header {
  width: 100%;
  height: 53px;
  background-color: $brown2;
  @include box-shadow(2px 2px 2px rgba(0,0,0,.5));
  @include background-image(linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1)));
  z-index: 1;
  position: relative;
  #logins {
    display: none;
  }
}

#wrap {
  width: 1024px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#logo {
  float: left;
}

#logo2 {
  margin-left: 8px;
  margin-top: 4px;
}


#top_header {
  width: 920px;
  height: 25px;
  background-color: #948167;
  padding-top: 10px;
  padding-right: 20px;
  text-align: right;
  -webkit-box-shadow: 0px 3px 2px rgba(60, 60, 63, 0.15);
  -moz-box-shadow: 0px 3px 2px rgba(60, 60, 63, 0.15);
  box-shadow: 0px 3px 2px rgba(60, 60, 63, 0.15);
}

.page_head_block {
  width: 100%;
  height: 127px;
  background-image: url('../images/heading.jpg');
  background-repeat: no-repeat;
  clear: both;
  margin-bottom: 35px;
  @include box-shadow(0 1px 5px rgba(0,0,0,.5));
}

/* --- Nav --------------------------------------------------------------- */
nav {
  width: auto;
  height: 40px;
  float: right;
  @include breakpoint(0px 500px) {
    display: none;
  }
  ul {
    list-style: none;
    height: 40px;
    float: right;
    li {
      letter-spacing: 0.15em;
      font-size: 1.4em;
      margin-top: 11px;
      display: inline-block;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
      @include breakpoint(500px 800px) {
        font-size: .9em;
      }
      .ie7 & {
        display: block;
      }
      ul {
        display: none;
      }
      &:hover ul {
        display: block;
        position: absolute;
        width: 198px;
        height: auto;
        background-image: url('../images/trans.png');
        border: solid 1px rgba(4,4,4,0);
        margin-left: 15px;
        padding-bottom: 12px;
        @include box-shadow(0 1px 4px rgba(0,0,0,.75), inset 0 0 1px #fff);
      }
      &:hover li {
        float: left;
        display: block;
        opacity: 1;
        font-size: .7em;
        text-transform: uppercase;
        color: #393939;
      }
      a {
        display: block;
        text-decoration: none;
        color: $white;
        padding: 5px 0px 5px 15px;
        white-space: nowrap;
      }
    }
  }
}

.menu_tab {
  display: none;
  width: 35px;
  height: 35px;
  float: right;
  border: solid 1px rgba(4,4,4,.93);
  background-color: rgba(59,46,40,0);
  margin-top: 8px;
  @include border-radius(10px);
  @include box-shadow(0 2px 4px rgba(0,0,0,.75), inset 0 0 1px #fff);
  @include background-image(linear-gradient(top, #645246, #3e3633));
  @include breakpoint(200px 500px) {
    display: block;
  }
  ul {
    position: relative;
    display: none;
  }
  &:hover ul {
      display: block;
    }
}