/*========================*/
/*===       Main       ===*/
/*========================*/


/* --- CSS Reset --------------------------------------------------------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, img, strong, ol, ul, li, form, input {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

b, h1, h2, h3, h4, strong {
  font-weight: bold;
}

#map-canvas img {
    max-width: none;
  }

html {
  min-height: 100%;
  margin-bottom: 1px;
  overflow: -moz-scrollbars-vertical !important;
}

*{
   margin:0;
   padding:0;
}

/* --- General --------------------------------------------------------------- */
body {
  font-family: "futura-pt", "entypo", "FontAwesome", sans-serif;
  @include font(16px);
  letter-spacing: 0.1em;
  text-align: center;
  background-color: $third;
}

.wrapper {
  max-width: 1300px;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-left: auto;
  margin-right: auto;
}

.break {
  clear: both;
}

.float_left {
  float: left;
}

#pagename {
  width: auto;
  height: 60px;
  float: left;
  margin-top: 35px;
  background-image: url('../images/trans.png');
  margin-left: 10px;
  padding-right: 15px;
  h1 {
    margin-top: .45em;
    font-size: 30px;
    font-weight: 700;
    float: left;
    margin-left: 15px;
    color: $browntext;
  }
}

a {
  &:link {
    color: $white;
    text-decoration: none;
	}
  &:visited {
    color: $white;
    text-decoration: none;
  }
  &:hover {
    color: #dedede;
    text-decoration: none;
  }
  &:active {
    color: $white;
    text-decoration: none;
  }
}

img.dim:hover {
  opacity: .5;
  filter: alpha(opacity = 100);
}

img.dim2:hover {
  opacity: .8;
  filter: alpha(opacity = 100);
}

#page_numbers {
  clear: both;
  margin: 0 0 10px 0;
  li {
    &.active_page a,
    a:hover,
    &:last-child a {
      background-color: #eaeaea;
    }
    &.page_info {
      background-color: #eaeaea;
      border: 1px solid #dadada;
      height: 26px;
      line-height: 28px;
      padding: 0 5px;
    }
    float: left;
    margin: 0 5px 0 0;
    text-align: center;
    .ie7 & {
      display: inline;
    }
    a {
      border: 1px solid #dadada;
      display: block;
      height: 26px;
      line-height: 28px;
      text-decoration: none;
      width: 26px;
    }
  }
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format("embedded-opentype"),
    url('../fonts/fontawesome-webfont.woff?v=3.0.1') format("woff"),
    url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main_temp {
	font-size: 90px;
	font-family: "AvenirNextCondensed-Medium", "AvenirNextLTW01-MediumC 721311", "Arial Narrow", Verdana, sans-serif;
	float: left;
}

.linked {
	color: blue;
}

/* --- Homepage --------------------------------------------------------------- */

.headline {
    float: left;
    margin-top: 135px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 3.7em;
    color: $white;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 2px 2px 1px #595959;
    @include breakpoint (200px 1000px) {
      font-size: 1.7em;
    }
    @include breakpoint (200px 500px) {
      display: none;
    }
}

.tagline_home {
  padding: .5em 0;
  width: 100%;
  background-color: $brown2;
  border-top: solid 6px #3f312a;
  z-index: 20;
  @include background-image(linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1)));
}

h1.tagline {
  text-align: center;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 1px #595959;
  filter: dropshadow(color = #595959, offx = 2, offy = 2);
  margin-top: .1em;
  font-size: 1.6em;
}

.home_body {
  background-color: $third;
  width: 100%;
  overflow: auto;
}

.icon_wrapper {
  width: 22.5%;
  margin-right: 1%;
  margin-left: 1%;
  height: auto;
  float: left;
  margin-top: 2em;
  p {
    font-size: 1em;
  }
}

.location {
  margin-bottom: 17px;
}

.icon, .maps, .chat {
  margin-bottom: 15px;
}

h4.icon_text {
  font-size: .9em;
}

.icon_about {
  text-align: justify;
  font-size: .85em;
  margin-top: 6px;
}


#saying {
  width: 100%;
  height: 395px;
  background-color: $third;
}

.people {
  width: 25%;
  height: auto;
  margin-left: 3.5%;
  margin-right: 3.5%;
  float: left;
  margin-bottom: 5em;
}

.ribbon_wrapper {
  width: 100%;
  height: 60px;
  margin: 3.6em 0 1.5em 0;
  text-align: center;
}

.ribbon {
  vertical-align: center;
}

.circle {
  margin-top: 5px;
}

.quote {
  margin-top: 10px;
  text-align: justify;
  font-size: .9em;
}

.words {
  color: $browntext;
  text-transform: uppercase;
  font-weight: bold;

  margin-top: 7px;
  margin-bottom: 3px;
  float: left;
  clear: left;
}

.sideform {
  margin-bottom: 10px;
  margin-left: 0px;
}

.names {
  text-align: right;
  font-size: .9em;
}

.george {
  text-align: right;
  font-size: .9em;
  margin-top: 12px;
}

.checkbox {
  @include border-radius(2px);
  background-color: #fff;
  @include box-shadow(0 1px #fff, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1));
  @include background-image(linear-gradient(bottom, #f0f0f0, #ebebeb));
  float: left;
}

.app {
  width: 331px;
  height: auto;
  float: right;
  margin-top: 57px;
  margin-right: 0px;
}

/* --- Footer --------------------------------------------------------------- */

.footer {
  width: 100%;
  height: 186px;
  background-color: #3f312a;
  padding-top: 25px;
  text-align: center;
  float: left;
  clear: both;
  -webkit-box-shadow: 0px 0px 8px rgba(60, 60, 63, 1);
  -moz-box-shadow: 0px 0px 8px rgba(60, 60, 63, 1);
  box-shadow: 0px 0px 8px rgba(60, 60, 63, 1);
}

.footer {
  position: relative;
  bottom: 0px;
  z-index: 100;
}

#social {
  width: 100%;
  height: 65px;
  margin-top: 22px;
}

.stay {
  font-size: 1.7em;
  color: $white;
}

.social {
  margin-right: 1em;
  margin-left: 1em;
}

.foot {
  color: $white;
  margin-top: 20px;
  font-size: .7em;
}

/* --- Buttons --------------------------------------------------------------- */
#search_button {
  width: 80px;
  height: 35px;
  margin-top: 20px;
  font-weight: 700;
  font-size: .9em;
}

#full_button {
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.2em;
  margin-top: 15px;
  font-weight: 700;
  color: #ac6900;
  margin-bottom: 28px;
  float: right;
  margin-right: 15px;
  @include font(17px);
}

#login-button {
  background: -moz-linear-gradient(center top , #56AEE5 0px, #3985BA 100%) repeat scroll 0 0 transparent;
  background-color: $yellow;
  border: 1px solid #faaa22;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset !important;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  width: 80%;
  @include background-image(linear-gradient(bottom, rgba(244,161,36,.5) 20%, rgba(255,255,255,.1)));
  font-weight: 700;
  color: #ac6900;
  letter-spacing: .1em;
  text-shadow: 0 1px rgba(255,255,255,.4);
  &:active {
    background-color: darken( $yellow, 10% );
  }
}

.pag {
  font-weight: bold;
  margin-right: 4px;
  margin-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  color: #de4422;
  &:hover {
    @include border-radius(5px);
    background-color: #de4422;
  }
}
.pag_button {
  font-weight: bold;
  margin-right: 4px;
  margin-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  @include border-radius(5px);
  background-color: #de4422;
}
.buttons {
  color: #ac6900;
  letter-spacing: .1em;
  text-shadow: 0 1px rgba(255,255,255,.2);
  float: left;
  background-color: $yellow;
  cursor:pointer;
  border: solid 1px #f4bb62;
  @include border-radius(7px);
  @include box-shadow(1px 1px 1px rgba(0,0,0,.2));
  &:hover, &:active {
    background-color: darken( $yellow, 10% );
    border: solid 1px darken( #f4bb62, 10% );
  }
}

#search {
  width: 2.25em;
  height: 2.25em;
  margin-top: 5px;
  margin-left: 5px;
  font-family: "fontawesome";
  @include font(15px);
}


/* --- Typography --------------------------------------------------------------- */
p {
  letter-spacing: 0.1em;
  color: #3a3a3a;
}

h1 {
  color: $white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  margin-bottom: 6px;
}

form {
  p {
    color: black;
  }
}
.add_trl {
    margin-top: 8px;
    margin-bottom: 15px;
    clear: both;
  }

.textform2 {
  color: $white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}

.textform {
  font-weight: bold;
  color: $heading;
  clear: left;
}

.trailname {
  font-size: 22px;
  text-transform: uppercase;
  color: $heading;
  margin-top: 1em;
  margin-bottom: .5em;
}

.hrs {
  width: 100%;
  margin-top: 1.4em;
}

.comments {
  font-size: 1.1em;
  text-transform: uppercase;
  color: $heading;
  margin-top: 1em;
  margin-bottom: .1em;
}

.username {
  font-size: 22px;
  margin-bottom: 10px;
}

.right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.sort {
  margin-right: 15px;
  margin-top: 5px;
}

.enter {
  margin-top: 8px;
}

.fe_daily {
  display: none !important;
}

.back_users {
  margin-left: 37px;
  margin-bottom: 15px;
}

.indt {
  margin-left: 37px;
  color: $white;
}

.temp {
  font-size: 20px;
}



/* --- View Trail --------------------------------------------------------------- */
#view_left {
  width: 72%;
  height: auto;
  padding: .5%;
  text-align: left;
  @include font(20px);
  float: left;
  #iframewrap {
    width: 98%;
    margin-left: 1%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 1em;
    @include box-shadow(0 2px 5px 1px rgba(0,0,0,.3));
    float: left;
    iframe {
      width: 100%;
      text-align: left;
    }
  }
}


#view_right {
  width: 24.5%;
  height: auto;
  float: left;
  margin-left: 1.5%;
  #com_block {
    margin-bottom: .9em;
    float: left;
  }
  .comment_img {
    width: 25%;
    height: auto;
    float: left;
  }

  #add_com {
    text-align: left;
    textarea {
      width: 95%;
      height: 7em;
    #search_button {
      float: right;
      clear: left;
      }
    }
  }
}

.map {
  height: 450px;
  width: 98%;
  margin: 1%;
  clear: both;
}

.map_full {
  width: 100%;
  height: 100%;
}

.search_bar {
  position: absolute;
}

#comment_box {
  width: 68%;
  height: auto;
  padding: 2%;
  margin-left: 2%;
  float: left;
  background-color: #e6e2dd;
  border: solid 1px #b7b7b7;
  text-align: left;
}

/* --- Main Content --------------------------------------------------------------- */
.side {
  width: 21%;
  float: left;
}
.sidebar {
  width: 100%;
  height: auto;
  float: left;
  clear: right;
  text-align: left;
  background-color: #e6e2dd;
  margin-bottom: 1.563em;
  padding-bottom: .313em;
  @include box-shadow(0 1px 4px rgba(0,0,0,.75), inset 0 0 1px #fff);
  @include border-radius(5px);
  @include background-image(linear-gradient(top, rgba(100,82,70,.1), rgba(62,54,51,.1)));
  .form {
    width: 81%;
  }
  form {
    margin-left: .626em;
    float: left;
    clear: left;
  }
}
.sidebar_top {
  width: 100%;
  height: 2em;
  background-color: $brown;
  float: left;
  @include border-top-left-radius(5px);
  @include border-top-right-radius(5px);
  clear: both;
  margin-bottom: .8em;
  h2 {
    font-size: 1.1em;
    color: $white;
    @include text-shadow(0 -1px 0 rgba(255,255,255,.13), inset 0 0 1px #fff);
    margin-top: .4em;
    margin-left: .6em;
  }
}
.loginpage {
  background-image: url('../images/back.jpg');
  height: 75%;
  background-repeat: no-repeat;
  width: 100%;
  overflow: auto;
}

#txts {
  margin-left: 128px;
}

#login {
  width: 400px;
  height: 275px;
  padding-top: 21px;
  @include border-bottom-radius(10px);
  background-color: #f5ede5;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.75), inset 0 0 1px #fff;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.75), inset 0 0 1px #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.75), inset 0 0 1px #fff;
  border: solid 1px rgba(4,4,4,0);
  p {
  color: black;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  }
  span {
  font-size: 14px;
  color: black;
  margin-left: 5px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  }
}

.form2 {
    height: 42px;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(255,255,255,.85);
    -webkit-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
    -moz-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
    box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
    @include border-radius(5px);
}

#logintop {
  width: 400px;
  height: 43px;
  margin-top: 60px;
  @include border-top-radius(10px);
  background-color: rgba(71,69,68,0);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.75), inset 0 0 1px #fff;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.75), inset 0 0 1px #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.75), inset 0 0 1px #fff;
  border: solid 1px rgba(4,4,4,.93);
  background-image: -webkit-linear-gradient(top, #645246, #3e3633);
  background-image: -moz-linear-gradient(top, #645246, #3e3633);
  background-image: -o-linear-gradient(top, #645246, #3e3633);
  background-image: -ms-linear-gradient(top, #645246, #3e3633);
  background-image: linear-gradient(to bottom, #645246, #3e3633);
  h1 {
    font-size: 1.5em;
    padding-top: 6px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(255,255,255,.13), inset 0 0 1px #fff;
  }

}

.trail_box {
  width: 75%;
  max-height: 264px;
  background-color: #f4efe9;
  margin-bottom: 2em;
  margin-top: 0px;
  padding-right: 15px;
  float: right;
  text-align: left;
  overflow: hidden;
  display: inline;
  @include box-shadow(0 3px 13px rgba(0,0,0,.2));
  p {
    color: #8c8c8c;
    line-height: 1.3em;
  }
  &:hover {
    background-color: #fab937;
    h4, p, .trailname {
      color: $white;
    }
    .trailimage {
      opacity: .5;
    }
  }
}

#userlist {
  width: 823px;
  background-color: #c9b59d;
  @include border-radius(5px);
}

#viewtrail_wrapper, #viewuser_wrapper {
  width: 833px;
  float: left;
  background-color: #c9b59d;
  margin-bottom: 8px;
  margin-left: 37px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 15px;
  @include border-radius(5px);
}

.form_right {
  width: 60%;
  padding-top: 40px;
  padding-left: 25px;
  margin-top: 8px;
  text-align: left;
  float: right;
  @include box-shadow(-4px 2px 4px -1px rgba(0,0,0,0.06));
  p {
    color: $light;
  }
}

.form_left {
  width: 30%;
  padding-top: 40px;
  margin-top: 8px;
  float: left;
  text-align: left;
  span {
    font-size: 1.3em;
    color: #666;
  }
}

.trailimage {
  margin-right: 2em;
  float: left;
  @include box-shadow(1px 1px 2px 1px rgba(0, 0, 0, 0.3));
}

.userimage {
  @include box-shadow(1px 1px 2px 1px rgba(0, 0, 0, 0.3));
}

.slider {
  width: 100%;
  height: 492px;
  background-repeat: no-repeat;
  background-image: url('../images/forest2.jpg');
  -webkit-background-size: cover !important;
  -moz-background-size: cover!important;
  -o-background-size: cover !important;
  background-size: cover !important;
  @include box-shadow(0 4px 5px rgba(60,60,60,.42));
}

.apple {
  width: 197px;
  height: 58px;
  margin-left: 40px;
  margin-top: 45px;
  float: left;
  clear: left;
  @include breakpoint(0px 500px) {
    display: none;
  }
}

#ht2 {
  width: 920px;
  height: 75px;
  background-color: $brown2;
}

#list_trail_body {
  width: 920px;
  padding-left: 35px;
  padding-right: 35px;
}

#captcha {
  margin-top: 18px;
}

.links {
  clear: both;
  margin-top: 30px;
}

.left {
  float: left;
  clear: both;
}

.left2 {
  float: left;
  margin-left: 10%;
  clear: both;
}

.left2 {
  float: left;
  text-align: left;
}

.username_echo {
  margin-top: 10px;
}

.user_box {
  width: 17.3%;
  height: 15.28em;
  padding-bottom: .8em;
  background-color: #fff;
  @include box-shadow(0 5px 15px rgba(0,0,0,.25));
  @include border-radius(5px);
  float: left;
  margin-right: 1.35%;
  margin-left: 1.35%;
  margin-bottom: 30px;
  h4 {
    color: #3d3d3d;
  }
  &:hover {
    background-color: #fab937;
    #user_image {
      opacity: .5;
    }
    h4 {
      color: $white;
    }
  }
}

.user_image {
  width: 100%;
  min-height: 9.8em;
  @include border-top-radius(5px);
  overflow: hidden;
}

.pagination {
  clear: both;
  text-align: center;
  margin-top: 3.5em;
  margin-bottom: 2em;
}

#images {
  width: 120px;
  float: left;
  margin-right: 15px;
}

#rest {
  width: 45%;
  float: right;
  text-align: left;
  font-size: .9em;
  margin-top: .5em;
  color: #5e5e5e;
  line-height: 1.1em;
}

#imge {
  float: left;
}

.white {
  background-color: $white;
}

.small {
  font-size: 14px;
  color: black;
  margin-left: 5px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  margin-bottom: 60px;
}

/* --- Elements --------------------------------------------------------------- */

#star {
  background-image: url("../images/star.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 22px;
  float:left;
}

#nostar {
  background-image: url("../images/star2.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 22px;
  float:left;
}

/* Forms */

#username {
    border-radius: 5px 5px 0 0;
    margin: 0;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-size: inherit;
    padding: 5px;
    display: block;
    width: 80%;
    height: 8.5%;
    margin-left: 10%;
}

#password {
  border-radius: 0 0 5px 5px;
  border: 1px solid #CCCCCC;
  border-top: 0 none;
  margin: 0;
  display: block;
  background-color: #FFFFFF;
  width: 80%;
  height: 8.5%;
  padding: 5px;
  font-size: inherit;
  margin-left: 10%;
  margin-bottom: 15px;
}

#forms {
  width: 80%;
  margin: 0px auto;
}

.form {
  width: 300px;
  height: 36px;
  margin-bottom: 12px;
  margin-top: 5px;
  font-size: 1.2em;
  float: left;
  background-color: rgba(255,255,255,.85);
  -webkit-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
  -moz-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
  box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
  @include border-radius(5px);
}

.form2 {
  width: 80%;
  height: 36px;
  margin-bottom: 12px;
  margin-top: 5px;
  font-size: 1.2em;
  float: left;
}

#file {
  width: 300px;
  height: 36px;
  margin-top: 5px;
  font-size: 1em;
  color: #393939;
}

.num_form {
  width: 80px;
  height: 36px;
  margin-bottom: 12px;
  margin-top: 5px;
  font-size: 1.2em;
  -webkit-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
  -moz-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
  box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
  @include border-radius(5px);
}

.numrate_form {
  width: 55px;
  height: 36px;
  margin-bottom: 12px;
  margin-top: 5px;
  font-size: 1.2em;
  -webkit-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
    -moz-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
    box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
}

.state_form {
  width: 145px;
  height: 36px;
  margin-bottom: 12px;
  margin-top: 5px;
  font-size: 1.1em;
}

.gender_form {
  width: 100px;
  height: 36px;
  margin-top: 5px;
  font-size: 1.1em;
}

.skill_form {
  width: 115px;
  height: 36px;
  margin-bottom: 12px;
  margin-top: 5px;
  font-size: 1.1em;
}

.bio {
  width: 100%;
  height: 200px;
  margin-top: 5px;
}

.add_status {
  width: 800px;
  height: 200px;
  margin-bottom: 12px;
  margin-top: 5px;
  margin-left: 9px;
}

.submit_status {
  margin-left: 9px;
}

.margin5 {
  margin-bottom: 5px;
}

.margin10 {
  margin-bottom: 10px;
}

.sub_headline {
  font-size: 2.3em;
  margin-bottom: .6em;
  width:  35%;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #3f3f3f;
  line-height: 120%;
}

.under_headline {
  width: 35%;
  color: #545454;
  line-height: 130%;
  font-weight: 600;
}

.subhead {
  text-align: left;
  margin-bottom: 3.1em;
}


/* --- Log Screen --------------------------------------------------------------- */

#log_wrapper {
  background-color: #d8cab3;
  height: 100%;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  width: 100%;
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #F0E8DD 0%, #BDB09C 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #F0E8DD 0%, #BDB09C 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #F0E8DD 0%, #BDB09C 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #F0E8DD), color-stop(1, #BDB09C));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #F0E8DD 0%, #BDB09C 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #F0E8DD 0%, #BDB09C 100%);
}

.log_logo {
  margin-top: 14%;
  width: 60%;
  margin-bottom: 8%;
}

.log_form {
  width: 250px;
  height: 38px;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

.log_text {
  font-size: .9em;
  color: #444444;
}

#forgot {
  font-size: .8em;
  text-shadow: 0 2px rgba(0,0,0,.24);
}


#scroller {
  width: 450px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 10px 0;
  -webkit-perspective: 450px;
  -moz-perspective: 450px;
  -o-perspective: 450px;
}

#scroller .item {
  width: 450px;
  display: block;
  position: absolute;
  border-radius: 10px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.85, transparent), to(rgba(255,255,255,0.1)));
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  z-index: 0;
}

/* Since inset shadows don't play nice with images, we'll create a pseudo element and apply our image styling to that instead */
#scroller .item:before {
  border-radius: 10px;
  width: 450px;
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3), 0 0 0 1px rgba(0,0,0,0.4);
}

#scroller .item img {
  display: block;
  border-radius: 10px;
}

#scroller .left {
  -webkit-transform: rotateY(25deg) translateX(-320px) skewY(-5deg) scale(0.4, 0.6);
  -moz-transform: rotateY(25deg) translateX(-320px) skewY(-5deg) scale(0.4, 0.6);
  -o-transform: rotateY(25deg) translateX(-320px) skewY(-5deg) scale(0.4, 0.6);
}

#scroller .middle {
  z-index:1;
  -webkit-transform: rotateY(0deg) translateX(0) scale(1);
  -moz-transform: rotateY(0deg) translateX(0) scale(1);
  -o-transform: rotateY(0deg) translateX(0) scale(1);
}

#scroller .right {
  -webkit-transform: rotateY(-25deg) translateX(320px) skewY(5deg) scale(0.4, 0.6);
  -moz-transform: rotateY(-25deg) translateX(320px) skewY(5deg) scale(0.4, 0.6);
  -o-transform: rotateY(-25deg) translateX(320px) skewY(5deg) scale(0.4, 0.6);
}

#scroller .left-hidden {
  opacity: 0;
  z-index: -1;
  -webkit-transform: rotateY(25deg) translateX(-430px) skewY(-5deg) scale(0.3, 0.5);
  -moz-transform: rotateY(25deg) translateX(-430px) skewY(-5deg) scale(0.3, 0.5);
  -o-transform: rotateY(25deg) translateX(-430px) skewY(-5deg) scale(0.3, 0.5);
}

#scroller .right-hidden {
  opacity: 0;
  z-index: -1;
  -webkit-transform: rotateY(-25deg) translateX(430px) skewY(5deg) scale(0.3, 0.5);
  -moz-transform: rotateY(-25deg) translateX(430px) skewY(5deg) scale(0.3, 0.5);
  -o-transform: rotateY(-25deg) translateX(430px) skewY(5deg) scale(0.3, 0.5);
}

.nav {
  position: absolute;
  width: 450px;
  height: 30px;
  margin: 170px 0 0;
  z-index: 2;
  display: none;
}

.prev, .next {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  background-color: rgba(0,0,0,0.85);
  border-radius:15px;
  color: #E4E4E4;
  bottom: 15px;
  left: 15px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), 0 0 0 1px rgba(0,0,0,0.7);
}

.next {
  left: inherit;
  right: 15px;
}

.prev:hover, .next:hover {
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5), 0 0 0 1px rgba(0,0,0,0.7);
}

/* Sign up page */
.stack_left {
  float: left;
  margin: .5em 0 .5em 2em;
}

.signup_field {
  width: 13em;
  height: 2em;
  margin-top: 5px;
  font-size: 1.2em;
  background-color: rgba(255,255,255,.85);
  -webkit-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
  -moz-box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
  box-shadow: inset 0 1px 4px rgba(156,156,156,.8), inset 0 0 0 1px #d1d1d1;
  @include border-radius(5px);
}

.form_right .textform, .form_right .textarea {
  margin-top: 1em;
}

.form_right .break {
  margin-top: .5em;
}

.user_box span {
  clear: left;
}