/*========================*/
/*===  Media Queries   ===*/
/*========================*/

@include breakpoint (200px 700px) {
  .headline {
    display: none;
  }
}
@include breakpoint (640px 900px) {
  .home_body .wrapper {
    padding: 1em 2.5em 0 2.5em;
  }

  .icon_wrapper {
    width: 42%;
    min-height: 13em;
    margin: 2em 4% 0 4%;
  }
}

@include breakpoint (200px 400px) {
  .slider {
    height: auto;
  }
  .app {
    width: 95%;
    margin: 1.5em 2.5% 0;
  }
}

.user_box {
  @include breakpoint (750px 950px) {
    width: 22%;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
  @include breakpoint (600px 750px) {
    width: 30%;
    margin-left: 1.666%;
    margin-right: 1.666%;
  }
  @include breakpoint (500px 600px) {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }
  @include breakpoint (200px 500px) {
    width: 90%;
    max-width: 218px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* --- 1024 and smaller --------------------------------------------------------------- */
@media only screen and (max-device-width: $break1) {
  .wrapper {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
  }
  #traillist {
    width: 80%;
  }
  #logo {
    width: 10%;
  }
  .slider {
    width: 100%;
  }
  .icon_wrapper, #icon_wrap {
    width: 22.5%;
    margin-right: 2%;
  }
  #saying {
    width: 100%;
    @include box-shadow(0 -1px 3px rgba(0,0,0,.8));
  }
  nav {
    ul {
      font-size: 1.3em;
    }
  }
}

/* --- 700-950 --------------------------------------------------------------- */
@media only screen and (min-device-width: $break3) and (max-device-width: $break2) {
  #tag {
    width: 480px !important;
  }
  .tags {
    font-size: 3.2em !important;
  }
  nav {
    width: 90%;
    ul {
      font-size: 1.2em;
    }
  }
}

/* --- ??-950 --------------------------------------------------------------- */
@media only screen and (min-device-width: $phone) and (max-device-width: 700px) {
  nav {
    width: 90%;
    ul {
      font-size: .95em;
      margin-top: 13px;
    }
  }
  h1.tagline {
    font-size: .6em;
  }
  #phone {
    width: 10%;
  }
}