/*========================*/
/*===     Mobile       ===*/
/*========================*/

.icon_wrapper {
    width: 100%;
    clear: left;
}

.apple {
	display: none;
}

.people {
	width: 100%;
	margin: 0 0 2.5em 0;
}

.quote, .names {
	padding: 0 2em;
}

.app {
	margin: 57px auto 0 auto;
	float: none;
}

.form_left {
	display: none;
}

.form_right {
	width: 100%;
	padding-left: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-top: .8em;
}

.sub_headline, .under_headline {
	width: 100%;
}

.subhead {
	margin-bottom: 0;
}

.menu_tab ul {
	position: absolute;
	top: 45;
	li {
		width: 100%;
		background-color: blue;
	}
}